{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	| Accueil
{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="d-flex justify-content-end mt-2 px-2">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Bonjour {{ app.user.pseudo }}</h5>
                    <p class="card-text mb-0">Date : {{ "now"|date("d/m/Y") }}</p>
                </div>
            </div>
        </div>
    {% endif %}
	<section>
		{{ form_start(filtreForm, {'attr': {'data-turbo': 'false'}})}}
		<div class="container">
			<div class="row">
				<h5>Filtrer les sorties</h5>
				<div class="col-5" id="filtres">
					{{ form_row(filtreForm.campus) }}
					{{ form_row(filtreForm.contient) }}
					<div class="row">
						<div class="col-6">
							{{ form_row(filtreForm.debut) }}
						</div>
						<div class="col-6">
							{{ form_row(filtreForm.fin) }}
						</div>
					</div>
				</div>
				<div class="col-5">
					{{ form_row(filtreForm.organisateur) }}
					{{ form_row(filtreForm.participant) }}
					{{ form_row(filtreForm.nonParticipant) }}
					{{ form_row(filtreForm.terminees) }}
				</div>
				<div class="col-2">
					<button type="submit" class="btn btn-primary m-1">Rechercher</button>
                    <button type="button" class="btn btn-secondary m-1" onclick="clearFilter()">Réinitialiser</button>
				</div>
			</div>
		</div>
		{{ form_end(filtreForm) }}
	</section>
	<hr>
	<section>
		<div class="container">
            {% if sorties is not empty %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Date</th>
                            <th>Cloture</th>
                            <th>Inscrits</th>
                            <th>Etat</th>
                            <th>Inscrit</th>
                            <th>Organisateur</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sortie in sorties %}
                            {% if is_granted("sortie_brouillon", sortie) %}
                                <tr>
                                    <td>
                                        <a href="{{ path('sortie_details', parameters: {id: sortie.id}) }}" data-turbo="false">{{ sortie.nom}}</a>
                                    </td>
                                    <td>{{ sortie.dateHeureDebut | date("d/m/Y")}}</td>
                                    <td>{{ sortie.dateLimiteInscription | date("d/m/Y")}}</td>
                                    <td>{{sortie.participants | length }}{{sortie.nbInscriptionMax ? " / " : ""}}{{sortie.nbInscriptionMax}}</td>
                                    <td>{{ sortie.etat|replace({'_': ' '})|capitalize}}</td>
                                    <td>{{app.user in sortie.participants ? "✔" : ""}}</td>
                                    <td>
                                        <a href="{{ path('profil_afficher', {'id': sortie.organisateur.id}) }}" data-turbo="false">{{ sortie.organisateur.pseudo}}</a>
                                    </td>
                                    <td>
                                        {% if is_granted('sortie_inscription', sortie) %}
                                            <form method="post" action="{{ path('sortie_inscription', parameters: {id: sortie.id}) }}">
                                                <input type="hidden" name="_token" value="{{ csrf_token('inscription_sortie_' ~ sortie.id) }}">
                                                <button class="btn btn-primary mb-1 w-100" type="submit">S'inscrire</button>
                                            </form>
                                        {% endif %}
                                        {% if is_granted('sortie_desistement', sortie) %}
                                            <form method="post" action="{{ path('sortie_desistement', parameters: {id: sortie.id}) }}">
                                                <input type="hidden" name="_token" value="{{ csrf_token('desistement_sortie_' ~ sortie.id) }}">
                                                <button class="btn btn-primary mb-1 w-100" type="submit">Se désister</button>
                                            </form>
                                        {% endif %}
                                        {% if is_granted('sortie_modification', sortie) %}
                                            <a href="{{ path('sortie_modification', {'id': sortie.id}) }}"
                                               class="btn btn-outline-secondary mb-1 w-100"
                                               data-turbo="false">Modifier</a>
                                            <form method="post"
                                                  action="{{ path('sortie_publication', parameters: {id: sortie.id}) }}"
                                                  onsubmit="return confirm('Êtes-vous sûr de vouloir publier cette sortie ?');">
                                                <input type="hidden" name="_token" value="{{ csrf_token('publication_sortie_' ~ sortie.id) }}">
                                                <button class="btn btn-outline-success mb-1 w-100" type="submit">Publier</button>
                                            </form>
                                        {% endif %}
                                        {% if is_granted('sortie_annulation', sortie) %}
                                            <a href="{{ path('sortie_annulation', {'id': sortie.id}) }}"
                                               class="btn btn-outline-danger mb-1 w-100"
                                               data-turbo="false">Annuler</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div>Il n'y a pas de sorties.</div>
            {% endif %}
        </div>
	</section>
    <script>
function clearFilter() {
    const form = document.forms["filtre_sortie"]
    const inputs = Array.from(form.querySelectorAll("input")).filter(e => !["filtre_sortie__token"].includes(e.id))
    for (let input of inputs) {
        input.value = null
        input.checked = null
    }
    const select = form.querySelector("select")
    select.value = "{{ filtreForm.vars.data.user.campus.id }}"
}
    </script>
{% endblock %}
