{% extends 'base.html.twig' %}

{# {% block title %}Sorties pour {{campus.nom}}{% endblock %} #}

{% block body %}
	<h2>Accueil</h2>
    <h5>Filtrer les sorties</h5>
	{{ form(campusForm, {'attr': {'data-turbo-frame': 'sorties-results-frame','class':'leftForm'}})}}
		<turbo-frame id="sorties-results-frame">
            {% if sorties is not empty %}
            <table>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Date</th>
                        <th>Cloture</th>
                        <th>Inscrits</th>
                        <th>Etat</th>
                        <th>Inscrit</th>
                        <th>Organisateur</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for sortie in sorties %}
                    <tr>
                        <td>{{ sortie.nom}}</td>
                        <td>{{ sortie.dateHeureDebut | date("d/m/Y")}}</td>
                        <td>{{ sortie.dateLimiteInscription | date("d/m/Y")}}</td>
                        <td>{{sortie.participants | length }}{{sortie.nbInscriptionMax ? " / " : ""}}{{sortie.nbInscriptionMax}}</td>
                        <td>{{ sortie.etat|replace({'_': ' '})|capitalize}}</td>
                        <td>{{app.user in sortie.participants ? "✔" : ""}}</td>
                        <td>{{ sortie.organisateur.pseudo}}</td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
                <div>Il n'y a pas de sorties.</div>
            {% endif %}
		</turbo-frame>
	{% endblock %}
