{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Profil{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="ms-4">{{ user.pseudo }}</h3>
        <dl class="dlStyle">
            <div>
                <div>
                    <dt>Campus</dt>
                    <dd>{{ user.campus.nom }}</dd>

                    <dt>Prénom</dt>
                    <dd>{{user.prenom}}</dd>

                    <dt>Nom</dt>
                    <dd>{{user.nom}}</dd>

                    <dt>Téléphone</dt>
                    <dd>{{user.telephone ? (user.telephone | split('') | batch(2) | map(nombres => nombres|join) | join(' ')) : 'Non Renseigné' }}</dd>

                    <dt>Email</dt>
                    <dd>{{user.email}}</dd>
                </div>
            </div>
        </dl>
    </div>
{% endblock %}
