{% extends 'base.html.twig' %}
{% set currentRoute = app.request.attributes.get('_route') %}
{% block title %}{{ parent() }} |
    {% if currentRoute == 'profil_modifier' %}
        Mon Profil
    {% elseif currentRoute == 'admin_creerUtilisateur' %}
        Créer utilisateur
    {% else %}
        Modifier Profil
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container">
        {% if currentRoute == 'profil_modifier' %}
            <h3>Mon Profil</h3>
        {% elseif currentRoute == 'admin_creerUtilisateur' %}
            <h3>Création d'un nouvel utilisateur</h3>
        {% else %}
            <h3>Modifier Profil</h3>
        {% endif %}
        {{ form_start(userForm) }}
        {% if currentRoute == 'admin_creerUtilisateur' or currentRoute == 'admin_modifierProfilUtilisateurs' %}
        {{ form_row(userForm.actif) }}
        {% endif %}
        <img class="mt-4 img-thumbnail" style="max-width: 200px" src="{{ asset(profilePicturesDirectory ~ '/' ~ user.id) }}" onerror="this.src='{{ asset(profilePicturesDirectory ~ '/default.jpg')}}'; document.querySelector('#user_deleteImage').parentElement.parentElement.style.display = 'none'">
        {{ form_widget(userForm) }}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        {{ form_end(userForm) }}
    </div>
{% endblock %}
