{% extends 'base.html.twig' %}

{% block title %}{{parent()}}| Liste utilisateurs{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="mb-4 d-flex flex-column align-items-start justify-content-center">
                <h3 class="mb-3">Ajout utilisateur(s)</h3>
                <a href="{{ path('admin_creerUtilisateur') }}" class="btn btn-secondary">Ajouter un nouvel utilisateur</a>
            </div>
            <div class="mb-5">
                {{ form_start(userImportForm, {'attr': {'class': 'd-flex align-items-end w-100'}}) }}
                <div class="flex-fill me-2">
                    {{ form_label(userImportForm.csvFile) }}
                    {{ form_widget(userImportForm.csvFile, {'attr': {'class': 'form-control w-100'}}) }}
                    {{ form_errors(userImportForm.csvFile) }}
                </div>
                <div class="flex-shrink-0">
                    <button type="submit" class="btn btn-secondary">Ajouter les utilisateurs</button>
                </div>
                {{ form_end(userImportForm) }}
            </div>
        </div>
    </section>
    <hr>
    <section>
        <div class="container">
            <h3>Liste utilisateurs</h3>
            {% if listeUtilisateurs is not empty %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>Pseudo</th>
                        <th>Campus</th>
                        <th>Compte actif</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for utilisateur in listeUtilisateurs %}
                        <tr>
                            <td><a href="{{ path('profil_afficher', {'id': utilisateur.id}) }}">{{ utilisateur.pseudo }}</a></td>
                            <td>{{ utilisateur.campus}}</td>
                            <td>{{ utilisateur.actif ? "✔" : "" }}</td>
                            <td class="col-auto d-flex gap-2">
                                <a href="{{ path('admin_modifierProfilUtilisateurs', {'id' : utilisateur.id}) }}" class="btn btn-outline-primary mb-1 flex-fill">Modifier</a>
                                    <form method="post"
                                          action="{{ path('admin_toggleCompteUtilisateur', parameters: {id: utilisateur.id}) }}"
                                          class="flex-fill"
                                          onsubmit="return confirm('Êtes-vous sûr de vouloir {{ utilisateur.actif ? 'inactiver' : 'activer' }} ce compte ?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('toggle_compte_utilisateur_' ~ utilisateur.id) }}">
                                        <button class="btn {{ utilisateur.actif ? 'btn-outline-secondary' : 'btn-outline-success' }} w-100"
                                                type="submit">{{ utilisateur.actif ? 'Inactiver compte' : 'Activer compte'}}</button>
                                    </form>
                                    <form method="post"
                                          action="{{ path('admin_utilisateur_supprimer', parameters: {id: utilisateur.id}) }}"
                                          class="flex-fill"
                                          onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('suppression_utilisateur_' ~ utilisateur.id) }}">
                                        <button class="btn btn-outline-danger w-100"
                                                type="submit">Supprimer</button>
                                    </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            </div>
    </section>
{% endblock %}
