{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Campus{% endblock %}

{% block body %}
    <section>
        <h5>Filtrer les campus</h5>
        <div class="container">
            {{ form_start(filtreForm, {'attr': {'data-turbo': 'false'}})}}
            <div class="row align-items-end">
                <div class="col-6">
                    {{ form_widget(filtreForm) }}
                </div>
                <div class="col-auto mb-3">
                    <button type="submit" class="btn btn-primary">Rechercher</button>
                </div>
            </div>
            {{ form_end(filtreForm) }}
        </div>
    </section>
    <hr>
    <section>
        <div class="container">
            {% if allCampus is empty %}
                <p>Aucune campus ne correspond au critère de recherche.</p>
            {% else %}
            <table class="table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    {% for campus in allCampus %}
                        <tr>
                            <td class="col-6">{{ campus.nom | title }}</td>
                            <td class="col-auto">
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
    </section>
{% endblock %}

