{% extends 'base.html.twig' %}

{% block title %}{{parent()}}| Villes{% endblock %}

{% block body %}
    <section>
        {{ form_start(filtreVilleForm, {'attr': {'data-turbo': 'false'}})}}
        <div class="container">
            <div class="row align-items-end">
                <h5>Filtrer les villes</h5>
                <div class="col-6">
                    {{ form_widget(filtreVilleForm) }}
                </div>
                <div class="col-auto mb-3">
                    <button type="submit" class="btn btn-primary">Rechercher</button>
                </div>
                {{ form_end(filtreVilleForm) }}
            </div>
        </div>
    </section>
    <hr>
    <section>
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th>Ville</th>
                    <th>Code postal</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    {% for ville in villes %}
                        <tr>
                            <td>{{ ville.nom | capitalize }}</td>
                            <td>{{ ville.codePostal }}</td>
                            <td>
                            </td>
                        </tr>
                        {% if loop.last %}
                            {{ form_start(villeForm) }}
                            <td>
                                {{ form_row(villeForm.nom) }}
                            </td>
                            <td>
                                {{ form_row(villeForm.codePostal) }}
                            </td>
                            <td>
                                <button type="submit" class="btn btn-primary">Ajouter</button>
                            </td>
                            {{ form_end(villeForm) }}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
    </section>
{% endblock %}

