{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
        <h3 class="ms-4">Afficher une sortie
            {% if sortie.etat == "annulee" %}
                <span class="badge text-bg-danger">Annulée</span>
            {% endif %}
        </h3>
        <dl>
            <div class="row">
                <div class="col col-md-6">
                    <div class="m-4">
                        <dt class="text-secondary">Nom</dt>
                        <dd>{{sortie.nom}}</dd>
                    </div>
                    <div class="m-4">
                        <dt class="text-secondary">Date et heure</dt>
                        <dd>{{sortie.dateHeureDebut | date("d/m/Y H:i")}}</dd>
                    </div>
                    <div class="m-4">
                        <dt class="text-secondary">Date limite d'inscription</dt>
                        <dd>{{sortie.dateLimiteInscription | date("d/m/Y")}}</dd>
                    </div>
                    <div class="m-4">
                        <dt class="text-secondary">Nombre de places</dt>
                        <dd>{{sortie.nbInscriptionMax}}</dd>
                    </div>
                    <div class="m-4">
                        <dt class="text-secondary">Durée (en min)</dt>
                        <dd>{{sortie.duree}}
                            min</dd>
                    </div>
                </div>
                <div class="col col-md-6">
                    <div class="m-4">
                        <dt class="text-secondary">Campus</dt>
                        <dd>{{sortie.campus.nom}}</dd>
                    </div>
                    <div class="m-4">
                        <dt class="text-secondary">Ville</dt>
                        <dd>{{ sortie.lieu.ville.nom }}</dd>
                    </div>
                    <div class="m-4">
                        <dt class="text-secondary">Lieu</dt>
                        <dd>{{ sortie.lieu.nom }}</dd>
                    </div>
                    <div class="m-4">
                        <dt class="text-secondary">Rue</dt>
                        <dd>{{ sortie.lieu.rue }}</dd>
                    </div>
                    <div class="m-4">
                        <dt class="text-secondary">Code postal</dt>
                        <dd>{{ sortie.lieu.ville.codePostal }}</dd>
                    </div>
                    <div class="m-4">
                        <dt class="text-secondary">Latitude - Longitude</dt>
                        <dd>{{ sortie.lieu.latitude }}, {{ sortie.lieu.longitude }}</dd>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-6">
                    <div class="m-4">
                        <dt class="text-secondary">Description</dt>
                        <dd>{{sortie.infosSortie | nl2br}}</dd>
                    </div>
                </div>
                <div class="col col-md-6">
                    <div class="m-4">
                        <dt>Liste des participants inscrits</dt>
                        <dd>
                            <ul>
                                {% for participant in sortie.participants %}
                                    <li><a href="{{ path('profil_afficher', parameters: {id: participant.id}) }}">{{participant.pseudo}}</a></li>
                                {% endfor %}
                            </ul>
                        </dd>
                    </div>
                </div>
            </div>
        </dl>
    </div>
{% endblock %}

{% block title %}{{parent()}} | Détail d'une sortie {% endblock %}
